.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/img/retro_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-btns {
  display: flex;
}

.welcome_title {
  font-size: 4vh;
}
