<app-nav-bar></app-nav-bar>
<div class="profile-page">
  <mat-card class="profile-card">
    <mat-card-header class="profile-card-header">
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="profile-card-content">
      <form>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userDetails.Username"
            placeholder="Username"
            type="text"
            name="Username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userDetails.Password"
            type="password"
            placeholder="Password"
            name="Password"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userDetails.Email"
            type="email"
            placeholder="Email"
            name="Email"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="userDetails.Birthday"
            type="date"
            placeholder="Birthday"
            name="Birthday"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="profile-card-button">
      <button mat-raised-button color="primary" (click)="updateUser()">
        Update
      </button>
      <button mat-raised-button color="warn" (click)="deleteUser()">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="favorite-section">
    <h2 class="favorites-title">Favorite Movies</h2>
    <h2 class="favorites-title" *ngIf="favoriteMovies.length < 1">
      No Favorite Movies
    </h2>
    <div class="movie-grid">
      <mat-card
        class="movie-card"
        *ngFor="let movie of favoriteMovies; let i = index"
      >
        <mat-card-header>
          <mat-card-title>{{ movie.Title }}</mat-card-title>
          <mat-card-subtitle
            >Director: {{ movie.Director?.Name }}</mat-card-subtitle
          >
          <mat-card-subtitle>Rating: {{ movie.Rating }}</mat-card-subtitle>
        </mat-card-header>
        <img src="{{ movie.ImagePath }}" />
        <!-- <mat-card-content>
          <p>
            {{ movie.Description }}
          </p>
        </mat-card-content> -->
        <mat-card-actions>
          <button
            mat-button
            color="primary"
            (click)="openGenreDialog(movie.Genre)"
          >
            Genre
          </button>
          <button
            mat-button
            color="primary"
            (click)="openDirectorDialog(movie.Director)"
          >
            Director
          </button>
          <button
            mat-button
            color="primary"
            (click)="openMovieDetailsDialog(movie)"
          >
            Details
          </button>
          <button mat-button (click)="removeFavorite(movie.id)">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
