$primary-light-blue: #87ceeb;
$secondary-blue: #4682b4;
$accent-navy: #2c3e50;
$white: #ffffff;
$light-gray: #f8f9fa;

.profile {
  padding: 10px;
}

.profile-card-content {
  padding: 10px;
}

.profile-card {
  max-width: 400px;
  margin: 20px, auto;
}

.profile-card-content {
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  mat-form-field {
    width: 100%;
  }
}

.profile-card-button {
  gap: 15px;
}
